:root {
    font-size: 62.5%;

    --first-color: #77c5e3;
    
    --second-color: #d6eef7;

    --third-color: #ed544c;

    --fourth-color: #eaa319;

    --fifth-color: #16b5a3;

    --sixth-color: #3f97c9;

    --seventh-color: #16b5a3;

    --text-color-primary: #FFFFFF;

    --text-color-primary: #000;

}


body{
    font-family: 'Open Sans', sans-serif;;
}

main{
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);
    font-family: 'Open Sans', sans-serif;
}

.inicio{
   text-decoration: none;
   display: flex;
   align-items: center;
    gap: 15px;
}

header h1{
    font-family: sans-serif;
    font-size: 2.5rem;
    color: var(--text-color-primary);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

header a {
    
}

.tm-white{
    display: block;
    font-size: 2em;
    padding: 20px;
    font-size: 1.8rem; 
}

.tm-text{
    display: block;
    padding: 0 auto;
    font-size: 1.2em;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 colunas de tamanho igual */
    gap: 20px;
    max-width: 1390px;
    margin: 0 auto;
}

.gallery-items {
    width: 100%;
    height: auto;
}

button{
    display: table-cell;
    font-weight: 600;
    font-size: 1.2em;
    vertical-align: middle;
    width: 150px;
    height: 100px;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: none;
}

.box1:hover{
    background-color: var(--sixth-color);
    transition: 0.5s;
    color: #FFFFFF;
}
.box2:hover{
    background-color: var(--third-color);
    transition: 0.5s;
    color: #FFFFFF;
}
.box3:hover{
    background-color: var(--fourth-color);
    transition: 0.5s;
    color: #FFFFFF;
}
.box4:hover{
    background-color: var(--seventh-color);
    transition: 0.5s;
    color: #FFFFFF;

}
.box5:hover{
    background-color: #447fca;
    transition: 0.5s;
    color: #FFFFFF;

}


.hide-off{
    display: none;
}

button{ 
    display: inline;
    align-items: end;
}

.containImg {
    position: relative;
    max-width: 320px;
    height: auto;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    color: #FFFFFF;
}

