:root {
    font-size: 62.5%;

    --first-color: #77c5e3;
    
    --second-color: #d6eef7;

    --third-color: #ed544c;

    --fourth-color: #eaa319;

    --fifth-color: #16b5a3;

    --sixth-color: #3f97c9;

    --seventh-color: #16b5a3;

    --text-color-primary: #FFFFFF;

    --text-color-second: #000;

}


body{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: #38b4e69e;
}

main{
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255,255,255,0.7);
  font-family: 'Open Sans', sans-serif;
  position: relative;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.inicio{
   text-decoration: none;
   display: flex;
   align-items: center;
   margin-left: 4rem;
   gap: 1.5rem;
}

header h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    color: var(--text-color-second);
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.tm-white{
    font-weight: 400;
    display: block;
    font-size: 2.5rem;
    margin: 50px 1rem 20px 1rem;
    color: var(--text-color-primary);
    max-width: 110rem;
}

.tm-text{
    font-family: 'Open Sans', sans-serif;
    display: block;
    padding: 0 auto;
    color: var(--text-color-primary);
    font-size: 1.6rem;
    line-height: 1.8;
    max-width: 700px;
    font-weight: 100;
    margin: 2rem 1rem;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    max-width: 130rem;
    margin: 2rem 1rem;
}

.gallery-items {
    width: 100%;
    height: auto;
}

.buttonHeader{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    display: table-cell;
    font-size: 1.6rem;
    vertical-align: middle;
    width: 130px;
    height: 100px;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: none;
    display: inline;
    align-items: end;
}

.box1:hover{
    background-color: var(--sixth-color);
    transition: 0.5s;
    color: #FFFFFF;
    cursor: pointer;
}
.box2:hover{
    background-color: var(--third-color);
    transition: 0.5s;
    color: #FFFFFF;
    cursor: pointer;
}
.box3:hover{
    background-color: var(--fourth-color);
    transition: 0.5s;
    color: #FFFFFF;
    cursor: pointer;
}
.box4:hover{
    background-color: var(--seventh-color);
    transition: 0.5s;
    color: #FFFFFF;
    cursor: pointer;
}
.box5:hover{
    background-color: #447fca;
    transition: 0.5s;
    color: #FFFFFF;
    cursor: pointer;
}

.hide-off{
    display: none;
}

.selected {
  color: #FFFFFF;
}

.row {
    display: flex;
}

.menu{
  display: none;
}
.containImg {
    position: relative;
    max-width: 320px;
    height: auto;
    cursor: pointer;
  }
  
  .text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    z-index: 2; 
  }
  
  .text-container h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    font-weight: 300;
    transition: margin-top 0.5s ease;
    width: 100%;
  }
  
  .text-container.hov-in h1 {
    margin-top: 5rem;
  }
  

  .containImg::before,
.containImg::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: width 0.4s ease-out, height 0.4s ease-out, border-color 0.4s ease-out;
  background: rgba(110, 72, 1, 0.3);
}

.containImg::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  z-index: 1;
}

.containImg::after {
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 0;
  height: 0;
}

.containImg::before,
.containImg::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: width 0.4s ease-out, height 0.4s ease-out, border-color 0.4s ease-out;
}

.containImg:hover::before,
.containImg:hover::after {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  border-color: #FFFFFF;
}
  

  .text-container p {
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
    transform: translateY(20px); 
    font-size: 1.2rem;
    line-height: 1.2em;
    height: 4em;
    font-weight: 300;
    width: 100%;

  }

  .text-container h1{
    width: 250px;
    font-size: 25px;
  }
  
  .text-container.hov-in p {
    opacity: 1; 
    transform: translateY(0);
  }
  
  .three-lines {
    line-height: 2em;
    height: 3em;
  }
  
  .two-lines {
    height: 3em;
    line-height: 2em;
    height: 4em;
    overflow: hidden;
  }


  .section-4{
    width: 100%;
    max-width: 128rem;
    height: 84rem;
  }

  
  .section-4 h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 3rem;
  }

  .section-4 p{ 
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    text-align: start;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem;
  }

    .contain-divs{
      gap: 1rem;
      display: flex;
    }
  
    .content{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background: rgba(255,255,255,0.7);
      width: 100%;
      max-width: 120rem;
      height: 18rem;
      padding: 3rem 4rem;
    }


  .section-5{
    width: 100%;
    max-width: 1100px;
    margin-top: 2rem;
    gap: 2rem;
    
  }

  .containerMaps{
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin: 80px 0 60px 0;
  }

  .containerMaps form{
    width: 50%;
    max-width: 50rem;
    min-width: 26rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.7);
    padding: 20px 40px 80px 40px;
    gap: 2rem;
    margin: 0;
    min-height: 520px;
  }

  .containerMaps form h1{
    font-weight: 800;
  }

  
  .containerMaps form h1{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #4f5155;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
  }
  .containerMaps form p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color:#83878d;
  }

  
  .containerMaps form input{
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 20px;
    border: none;
    border: 1px solid rgb(194, 192, 192);
  }

  .containerMaps form textarea{
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 20px;
    border: none;
    border: 1px solid rgb(194, 192, 192);
    resize: none;
  }

  .maps{
    width: 50%;
    max-width: 50rem;
    min-width: 26rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.7);
    padding: 20px 40px 80px 40px;
    gap: 2rem;
    margin: 0;
  }

  .maps h1{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
  }
  
    .contain-button{
      display: flex;
      align-self: end;
      
    }

  .section-5 .contain-button #sbmt{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    margin-top: 3rem;
    width: 160px;
    height: 60px;
    border: none;
    background-color: #0066CC;
  }

  .section-5 .contain-button #sbmt:hover{
    cursor: pointer;
    background-color: #4d7dad;

  }

  footer{
    width: 100%;
    height: 100px;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer a{
    background: rgba(255,255,255,0.40);
    padding: 5px;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
  }


  @media(max-width: 960px){

    header { 
      display: flex;

    }

    .row{
      flex-direction: column;
      display: none;
      background-color: rgba(255,255,255,0.7);
    }

    .containButtons{
      height: 150px;
      gap: 0;
      display: flex;
      flex-direction: column;
      margin-top: 10rem;
    }

    .menu{
      cursor: pointer;
      width: 50px;
      margin-right: 8rem;
      display: flex;
      position: static;
    }


    .gallery-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      align-items: center;
      justify-content: center;
      max-width: 658px;
      margin: 2rem auto;
      padding: 2rem;
  }

    .title{
      padding: 0 2rem;
      margin: 0 auto;
    }
  .tm-white{
    margin: 50px auto 20px 0;
    padding: 0 3rem;
}

.tm-text{
  padding: 0 2rem;
  line-height: 1.8;
  max-width: 658px;
}

  .section-4{
    width: 128rem;
    height: 110rem;
    margin-top: 2rem;
  }

  
  .section-4 h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 3rem;
  }

  .section-4 p{ 
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    text-align: start;
  }
  
  .container{
    display: flex;
    flex-direction: column;
  }

    .contain-divs{
      gap: 2rem;
      display: flex;
      flex-direction: column;
    }
  
    .content{
      display: bloc;
      flex-direction: column;
      gap: 3rem;
      background: rgba(255,255,255,0.7);
      width: 90%;
      height: 20em;
      padding: 3rem 2rem;
    }

      .containerMaps{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }


  
  }

  @media(max-width: 500px){
    .gallery-container {
      grid-template-columns: repeat(1, 1fr);
      gap: 1.5rem;
      align-items: center;
      justify-content: center;
      margin: 2rem auto;
     width: 380px;
  }

  .tm-white{
    margin: 50px auto 20px;
    padding: 0 2rem;
}

.tm-text{
  padding: 0 2rem;
  line-height: 1.8;
}


  .title{
    width: 380px;
    margin: 0;
    padding: 0;
  }

}

  .slide-in-blurred-top {
    -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  }

  @-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

  .slide-in-left {
    -webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }