main{
    background-color: #77c5e3;
    display: flex;
    justify-content: center;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d6eef7;
}

.inicio{
   text-decoration: none;
   display: flex;
   align-items: center;
    gap: 15px;
}

header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #000;
}

.tm-white{
    display: block;
    font-size: 2em;
    padding: 20px;
    font-size: 1.8rem; 
}

.tm-text{
    display: block;
    padding: 0 auto;
    font-size: 1.2em;
}

.gallery-container{
    display: flex;
    flex-wrap:wrap;
    width: 1500px;
    gap: 25px;
}

.gallery-items{
    width: 320px;
    height: 320px;
    border: none;
}

button{
    display: table-cell;
    font-weight: 600;
    font-size: 1.2em;
    vertical-align: middle;
    width: 150px;
    height: 100px;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: none;
}

.box1:hover{
    background-color: #38b6e6;
    transition: 0.5s;
}
.box2:hover{
    background-color: #ed544c;
    transition: 0.5s;
}
.box3:hover{
    background-color: #eaa319;
    transition: 0.5s;
}
.box4:hover{
    background-color: #16b5a3;
    transition: 0.5s;
}
.box5:hover{
    background-color: #447fca;
    transition: 0.5s;
}


.hide-off{
    display: none;
}

button{ 
    display: inline;
    align-items: end;
}

.containImg {
    position: relative;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    color: red;
}

.row{

}